/* desktop/katbiziniss
 *
 * /src/sass/styles.scss - Main styles for katbiziniss
 *
 * coded by maxime@flatLand !
 * started at 09/02/2017
 */

 html{
    background:url('../images/stardust-bcg.png') repeat;
    font-family: sans-serif;
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100vh;

        color: #fff;
        margin:0;
        padding:0;
        #card{
            color:#000;
            height: 250px;
            width:500px;
            }
        .front, .back{
            background:url('../images/card-bcg.png') repeat;
            width: 500px;
            }
        }
    }
