/* desktop/katbiziniss
 *
 * /src/sass/styles.scss - Main styles for katbiziniss
 *
 * coded by maxime@flatLand !
 * started at 09/02/2017
 */

 html{
    background-color: yellow;
    
    body{
        color: red;
    }
 }
